<footer>
  <div class="text-mail">
    <div class="text">
      <span>Glam With Us</span><br />
      Be one of the first to know about exclusive drops, discounts, and more.
    </div>
    <div class="mail">
      <div class="mail-input">
        <input type="email" placeholder="Enter your email address" />
        <button>Send</button>
      </div>
      <p>
        By subscribing you agree to our
        <span> Terms & Conditions and Privacy & Cookies Policy.</span>
      </p>
    </div>
  </div>
  <div class="line"></div>
  <div class="section-two">
    <div class="right">
      <div class="help">
        <p>
          <span>Do You Need Help ?</span><br />You can contact us through these
          means by sending an email or calling us.
        </p>
        <p class="time">Sunday-Thursday: 08am-9pm</p>
        <div class="phone"><fa-icon [icon]="phone"></fa-icon> +20123456789</div>
        <div class="mail">
          <fa-icon [icon]="mail"></fa-icon> nexbuy&#64;ecommerce.com
        </div>
      </div>
      <div class="links">
        <div><fa-icon [icon]="arrow"></fa-icon><a href="#">About</a></div>
        <div><fa-icon [icon]="arrow"></fa-icon><a href="#">Shop</a></div>
        <div><fa-icon [icon]="arrow"></fa-icon><a href="#">Information</a></div>
      </div>
    </div>
    <div class="social">
      <h3>Follow us on social media:</h3>
      <div class="icons">
        <fa-icon [icon]="youtube"></fa-icon>
        <fa-icon [icon]="facebook"></fa-icon>
        <fa-icon [icon]="twitter"></fa-icon>
        <fa-icon [icon]="instagram"></fa-icon>
      </div>
    </div>
    <div class="left">
      <h2>Download our app</h2>
      <div class="app">
        <div class="googleicon">
          <img src="../../assets/google-play.svg" alt="google" />
          <div class="text">
            <p>GET IT ON</p>
            <span>Google Play</span>
          </div>
        </div>
        <div class="appstore">
          <img src="../../assets/apple.svg" alt="..." />
          <div class="text">
            <p>GET IT ON</p>
            <span>App Store</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="payment">
    <img src="../../assets/visa.svg" alt="..." />
    <img src="../../assets/paypal.svg" alt="..." />
    <img src="../../assets/mastar.svg" alt="..." />
    <img src="../../assets/skill.svg" alt="..." />
  </div>
  <div class="terms">
    <h5>Terms and Conditions</h5>
    <h5>Privacy Policy</h5>
  </div>
  <h6>© 2024, All rights reserved to NuxBuy Team. Developed by ata2et.</h6>
</footer>
