<section class="product_slider">
  <div class="link_products">
    <div class="heading">
      <h3>Women's clothing</h3>
      <p>Do not miss the current offers until the end of March.</p>
    </div>
    <a class="view_all" href="#">View All <fa-icon class="bounce" [icon]="right"></fa-icon></a>
  </div>
    <div class="product-container">
      <swiper-container
        loop="true"
        navigation="false"
        speed="500"
        space-between="10"
        [slidesPerView]="slidesPerView"
        pagination="false"
        autoplay="true"
        data-swiper-autoplay="1000"
      >
        <swiper-slide>
          <div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
        <swiper-slide
          ><div class="card">
            <p class="heading">Popular this month</p>
            <p>Powered By</p>
            <p>Uiverse</p>
          </div></swiper-slide
        >
      </swiper-container>
    </div>
</section>
