<div class="section-container">
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55308.2741210229!2d31.220919436990535!3d29.957376118704584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847f5e5c8055b%3A0x8b21ef9bc90d1941!2sAl%20Maadi%2C%20Maadi%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1728234865018!5m2!1sen!2seg"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="hover-side">
    <div class="content">
      <h1>Come to our store</h1>
      <a href="https://maps.app.goo.gl/ftnxEPrCWLNCoFLv6" target="_blank">Show on google map</a>
    </div>
  </div>
</div>
