<div id="quality" class="section-container">
  <div class="video-container">
    <video onloadedmetadata="this.muted=true" loop autoplay muted playsinline preload="auto">
      <source src="../../assets/laptop.webm" type="video/webm" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="hover-side">
    <div class="content">
      <h1>Redefining Innovation</h1>
      <p>
        Experience seamless connectivity and top-tier performance in one sleek
        design.
      </p>
      <a href="#">Shop Now</a>
    </div>
  </div>
</div>
